<div class="ko-organization-content" local-class="root">
  {{ko-search-suggestions activePage="organization" target=organization}}

  {{#ko-agent-content/layout as |name|}}
    {{#if (eq name "heading")}}
      {{#if hasOrg}}
        {{#component tabsComponent model=tabsModel}}
          {{ko-organization-content/action-menu
            canDelete=canDelete
            organization=organization
            closeTab=closeTab
          }}
        {{/component}}
      {{else}}
        {{ko-instant-entity
          action="setInstantOrg"
          mode="organization"
          instantEntityTerm=instantOrgTerm
          instantEntityResults=instantOrgResults
          isProcessRunning=createOrg.isRunning}}
      {{/if}}
    {{/if}}

    {{#if (and (eq name "timeline") hasOrg)}}
      {{#ko-journey-timeline
        timeline=timeline
        model=organization
        caseFields=caseFields
        timestamp=timestamp
      }}
        <div local-class="timeline-header">
          <div local-class="timeline-header-image">
            {{ko-org-logo org=organization}}
          </div>
          <div local-class="timeline-header-body">
            <h3 local-class="timeline-header-title" class="{{qa-cls "qa-organization-content_timeline-header-title"}}">
              {{ko-editable-text
                qaClass=(qa-cls "qa-ko-organization-content__name")
                value=organization.name
                isEdited=state.isNameEdited
                onValueChange=(action "setName")
                isErrored=state.errorMap.name
                isDisabled=(not canUpdateOrganization)
                size="large"
                placeholder=(t "organization.new_organization_placeholder")
              }}
            </h3>
            <div local-class="timeline-header-subtitle">
              <p title={{format-date updatedDate.value format="LLL"}}
                class="{{qa-cls "qa-ko-organization-content__header-subtitle"}}" local-class="subtitle">
                {{updatedDate.title}} {{ko-datetime-format updatedDate.value}}
              </p>
            </div>
          </div>
        </div>
        <div local-class="timeline-preamble">
          {{format-html-message
            "organization.timeline.preamble"
            name=organization.name
            searchURL=(href-to "session.agent.search" (concat "in:users organization:" organization.name) (query-params group="USERS"))
          }}
        </div>
      {{/ko-journey-timeline}}
    {{else if (and (eq name "timeline") redirectingToOrg)}}
      <div local-class="redirection-loader">
        {{ko-loader large=true}}
        <div local-class="redirection-message">{{t "organization.redirection_message" name=orgName}}</div>
      </div>
    {{/if}}

    {{#if (and (eq name "reply-area") hasOrg)}}
      {{#if canPostOrganizationNote}}
        {{#ko-text-editor
          isRichFormattingAvailable=true
          dropzoneError=dropzoneError
          onAttachFiles=(action "onAttachFiles")
          placeholder=(t "generic.add_a_note")
          attachedFiles=attachedPostFiles
          onCancelAttachment=(action "dispatch" "cancelAttachment")
          isErrored=isErrored
          allowFormatting=true
          isNote=true
          onTextChanged=(action "dispatch" "setReplyContents")
          value=state.replyContents
          footerText=(t "generic.texteditor.notes_reminder")
        as |editor|}}

          {{#if editor.isHeader}}
            {{#ko-text-editor/mode-selector active=true}}
              {{t "users.notes"}}
            {{/ko-text-editor/mode-selector}}
          {{/if}}

          {{#if editor.isFooter}}
            <div local-class="send-button">
              {{#if state.isContentEdited}}
                {{#ko-button type="note" disabled=submitDisabled onClick=(action "submit") qaClass="qa-organization-content__submit"}}
                  {{#if uploadingFiles}}
                    <span>{{t "generic.uploading_files"}}&nbsp;&nbsp;&nbsp;</span>{{ko-loader class=(local-class "buttonLoading")}}
                  {{else if state.saveEverything.isRunning}}
                    {{ko-loader class=(local-class "buttonLoading")}}
                  {{else if state.arePropertiesEdited}}
                    {{t "cases.send_and_update"}}
                  {{else}}
                    {{t "cases.send"}}
                  {{/if}}
                {{/ko-button}}
              {{/if}}
            </div>
          {{/if}}
        {{/ko-text-editor}}
      {{/if}}
    {{/if}}

    {{#if (eq name "sidebar")}}
      {{#ko-organization-content/info-block hasOrg=hasOrg org=organization}}
        {{ko-editable-text
          value=organization.name
          isEdited=state.isNameEdited
          isErrored=state.errorMap.name
          isDisabled=(or (not (and hasOrg canUpdateOrganization)) isSaving)
          onValueChange=(action "setName")
          placeholder=(t "organization.new_organization_placeholder")
        }}
      {{/ko-organization-content/info-block}}
      {{#unless organization.isNew}}
        {{ko-pinned-notes model=organization fetchNotes=fetchNotes}}
      {{/unless}}

      {{ko-info-bar/field/select-multiple
        allowCreate=true
        title=(t "users.tags")
        isEdited=state.isTagsFieldEdited
        isErrored=state.errorMap.tags
        isDisabled=(or (not (and hasOrg canUpdateOrganization)) isSaving)
        value=state.editedTags
        placeholder=(t "users.addtag")
        onValueAddition=(action "dispatch" "addTag")
        onValueRemoval=(action "dispatch" "removeTag")
        onSuggestion=(perform state.suggestTags)
      }}
      {{ko-info-bar/field/select-multiple
        qaClass="organization-domains-field"
        allowCreate=true
        title=(t "organization.domains")
        isEdited=isDomainEdited
        isErrored=state.errorMap.domains
        isDisabled=(or (not (and hasOrg canUpdateOrganization)) isSaving)
        value=state.editedOrganization.domains
        searchField="domain"
        onValueAddition=(action "dispatch" "addDomain")
        onValueRemoval=(action "dispatch" "removeDomain")
      }}
      {{ko-member-list
        members=orgMembers
        organization=organization
        isLoading=loadOrganizationMembers.isRunning
        hasOrg=hasOrg
      }}
      {{#if isSharedOrganization}}
        {{ko-info-bar/field/select
          title=(t "organization.infobar.accesslevel")
          options=caseAccessList
          value=state.editedOrganization.isShared
          onValueChange=(action "dispatch" "setCaseAccess")
          hasEmptyOption=false
          searchEnabled=false
          isEdited=state.isCaseAccessEdited
          isErrored=state.errorMap.is_shared
          isDisabled=(or (not (and hasOrg canUpdateOrganization)) isSaving)
          idPath="value"
          labelPath="name"
        }}
      {{/if}}

      {{#if (variation 'release-apps')}}
        {{ko-app-slot
          name="organization-sidebar"
          organization=organization
        }}
      {{/if}}

      {{#each customFields as |field|}}
        {{#if (ko-helper customFieldsList.componentFor field.fieldType)}}
          {{#if field.isEnabled}}
            {{component (ko-helper customFieldsList.componentFor field.fieldType)
            value=(get state.customFields.idToEditedValueHash field.id)
            options=field.options
            title=field.title
            isErrored=(get state.errorMap field.key)
            isEdited=(get state.customFields.idToIsEditedHash field.id)
            isDisabled=(or (not (and hasOrg canUpdateOrganization)) isSaving)
            onValueChange=(action "dispatch" "setCustomField" field)
            hasEmptyOption=(not field.isRequiredForAgents)
            idPath="id"
            labelPath="value"
            }}
          {{/if}}
        {{/if}}
      {{/each}}
    {{/if}}

    {{#if (eq name "submit-button")}}
      {{#if (and hasOrganizationUpdatePermission (or state.updateProperties.isRunning state.arePropertiesEdited))}}
        {{#transition-group transition-class="update-button"}}
          <div local-class="submit-properties
          {{if (or state.updateProperties.isRunning (not state.isContentEdited)) "show-submit"}}
            {{if submitDisabled "submitting"}}"
          >
            {{#ko-button
              type="primary"
              hasAnimation=true
              full=true
              size="medium"
              onClick=(perform submit)
              loading=submitDisabled
              qaClass="qa-organization-content__submit-properties"
            }}
              {{t "generic.update_properties"}}
            {{/ko-button}}
            {{#unless state.updateProperties.isRunning}}
              <button local-class="cancel-property-changes" onclick={{action "resetProperties"}} disabled={{submitDisabled}}>
                <span local-class="or-text">{{t "generic.or"}}&nbsp;</span>
                <span>{{t "generic.cancel"}}</span>
              </button>
            {{/unless}}
          </div>
        {{/transition-group}}
      {{/if}}
    {{/if}}
  {{/ko-agent-content/layout}}
</div>
