{{#ko-admin/forms/description}}
  <p>{{t "admin.casefields.description"}}</p>
  <p><strong>{{format-html-message "admin.casefields.description2" link=(ko-admin/forms/link "https://support.kayako.com/article/1151-adding-custom-fields-for-cases-users-and-organizations?utm_source=app&utm_campaign=in-product-help&utm_medium=adminarea&utm_content=casefields" "admin.casefields.description_link")}}</strong></p>
{{/ko-admin/forms/description}}

{{#ko-simple-list header=(t "generic.enabled") as |list|}}
  {{#each systemfields as |systemfield|}}
    {{#list.row onClick=(action "editField" systemfield) as |row|}}
      {{#row.cell width="50%"}}
        <div>
          <span local-class="label">{{systemfield.title}}</span> <span local-class="caption">{{t "admin.caseforms.label.system"}}</span>
        </div>
      {{/row.cell}}
      {{#row.cell}}
        <div local-class="icon">
          {{ko-admin/fields/type-icon name=(ko-helper customFields.baseKeyForFieldType systemfield.fieldType)}}
        </div>
        <p local-class="label">{{t (ko-helper customFields.baseTypeKeyForFieldType systemfield.fieldType)}}</p>
      {{/row.cell}}
      {{#row.actions}}
        <a href="{{href-to 'session.admin.customizations.case-fields.edit' systemfield.id}}">{{t "generic.edit"}}</a>
      {{/row.actions}}
    {{/list.row}}
  {{/each}}

  {{#ko-reorderable-list onReorder=(action "reorderCustomFields") items=customfields as |customfield|}}
    {{#list.row onClick=(action "editField" customfield) as |row|}}
      {{#row.cell width="50%"}}
        <span local-class="label" class="qa-custom-case-field-label">{{customfield.title}}</span>
      {{/row.cell}}
      {{#row.cell}}
        <div local-class="icon">
          {{ko-admin/fields/type-icon name=(ko-helper customFields.baseKeyForFieldType customfield.fieldType)}}
        </div>
        <p local-class="label">{{t (ko-helper customFields.baseTypeKeyForFieldType customfield.fieldType)}}</p>
      {{/row.cell}}
      {{#row.actions}}
        <a href="{{href-to 'session.admin.customizations.case-fields.edit' customfield.id}}">{{t "generic.edit"}}</a> |
        <a onclick={{action "toggleEnabledStatus" customfield}}>{{t "generic.disable"}}</a> |
        <a onclick={{action "deleteField" customfield}}>{{t "generic.delete"}}</a>
      {{/row.actions}}
    {{/list.row}}
  {{/ko-reorderable-list}}
{{/ko-simple-list}}

{{#if disabledfields.length}}
  {{#ko-simple-list header=(t "generic.disabled") as |list|}}
    {{#each disabledfields as |disabledfield|}}
      {{#list.row onClick=(action "editField" disabledfield) as |row|}}
        {{#row.cell width="50%" disabled=true}}
          <span local-class="label">{{disabledfield.title}}</span>
        {{/row.cell}}
        {{#row.cell disabled=true}}
          <div local-class="icon">
            {{ko-admin/fields/type-icon name=(ko-helper customFields.baseKeyForFieldType disabledfield.fieldType)}}
          </div>
          <p local-class="label">{{t (ko-helper customFields.baseTypeKeyForFieldType disabledfield.fieldType)}}</p>
        {{/row.cell}}
        {{#row.actions}}
          <a href="{{href-to 'session.admin.customizations.case-fields.edit' disabledfield.id}}">{{t "generic.edit"}}</a> |
          <a onclick={{action "toggleEnabledStatus" disabledfield}}>{{t "generic.enable"}}</a> |
          <a onclick={{action "deleteField" disabledfield}}>{{t "generic.delete"}}</a>
        {{/row.actions}}
      {{/list.row}}
    {{/each}}
  {{/ko-simple-list}}
{{/if}}
