{{#if isLoading}}

{{else}}
  {{#if (eq activePopup 0)}}
    <div local-class="box">
      <span local-class="box__number">
        {{#if allDone}}
          {{inline-svg "onboarding/green-tick"}}
        {{else}}
          {{inline-svg "onboarding/2"}}
        {{/if}}
      </span>
      <div local-class="box__content">
        <div local-class="box__header">
          <h5 local-class="main-heading">{{t "onboarding.setup.title"}}</h5>
        </div>

        {{!-- Emails --}}
        <div local-class="item">
          <div local-class="item__text {{if onBoardingStatus.progress.account_setup "is-done"}}">
            <div local-class="item__title">{{t "onboarding.setup.email_title"}}</div>
            <p local-class="item__description">{{t "onboarding.setup.email_description"}}</p>
          </div>
          <span class={{qa-cls "card--email"}} onClick={{action "showPopup" 1}}>
            {{#if onBoardingStatus.progress.account_setup}}
              <span local-class="item__complete">{{t "onboarding.complete"}}</span>
            {{else}}
              {{#ko-button size="medium"}}
                {{t "onboarding.setup.email_button"}}
              {{/ko-button}}
            {{/if}}
          </span>
        </div>

        {{!-- Social accounts --}}
        <div local-class="item">
          <div local-class="item__text {{if onBoardingStatus.progress.account_connected "is-done"}}">
            <div local-class="item__title">{{t "onboarding.setup.social_title"}}</div>
            <p local-class="item__description">{{t "onboarding.setup.social_description"}}</p>
          </div>
          <span class={{qa-cls "card--social"}} onClick={{action "showPopup" 2}}>
            {{#if onBoardingStatus.progress.account_connected}}
              <span local-class="item__complete">{{t "onboarding.complete"}}</span>
            {{else}}
              {{#ko-button size="medium"}}
                {{t "onboarding.setup.social_button"}}
              {{/ko-button}}
            {{/if}}
          </span>
        </div>

        {{!-- Messenger --}}
        <div local-class="item">
          <div local-class="item__text {{if onBoardingStatus.progress.setup "is-done"}}">
            <div local-class="item__title">{{t "onboarding.setup.messenger_title"}}</div>
            <p local-class="item__description">{{t "onboarding.setup.messenger_description"}}</p>
          </div>
          <span class={{qa-cls "card--messenger"}} onClick={{action "showPopup" 3}}>
            {{#if onBoardingStatus.progress.setup}}
              <span local-class="item__complete">{{t "onboarding.complete"}}</span>
            {{else}}
              {{#ko-button size="medium"}}
                {{t "onboarding.setup.messenger_button"}}
              {{/ko-button}}
            {{/if}}
          </span>
        </div>

        {{!-- Team --}}
        <div local-class="item">
          <div local-class="item__text {{if onBoardingStatus.progress.team_added "is-done"}}">
            <div local-class="item__title">{{t "onboarding.setup.team_title"}}</div>
            <p local-class="item__description">{{t "onboarding.setup.team_description"}}</p>
          </div>
          <span class={{qa-cls "card--team"}} onClick={{action "showPopup" 4}}>
            {{#if onBoardingStatus.progress.team_added}}
              <span local-class="item__complete">{{t "onboarding.complete"}}</span>
            {{else}}
              {{#ko-button size="medium"}}
                {{t "onboarding.setup.team_button"}}
              {{/ko-button}}
            {{/if}}
          </span>
        </div>

        {{!-- Agents --}}
        <div local-class="item">
          <div local-class="item__text {{if onBoardingStatus.progress.agent_added "is-done"}}">
            <div local-class="item__title">{{t "onboarding.setup.agents_title"}}</div>
            <p local-class="item__description">{{t "onboarding.setup.agents_description"}}</p>
          </div>
          <span class={{qa-cls "card--agents"}} onClick={{action "showPopup" 5}}>
            {{#if onBoardingStatus.progress.agent_added}}
              <span local-class="item__complete">{{t "onboarding.complete"}}</span>
            {{else}}
              {{#ko-button size="medium"}}
                {{t "onboarding.setup.agents_button"}}
              {{/ko-button}}
            {{/if}}
          </span>
        </div>

        {{!-- Conversations --}}
        <div local-class="item">
          <div local-class="item__text {{if hasTried3Conversations "is-done"}}">
            <div local-class="item__title">{{t "onboarding.setup.complete_cases_title"}}</div>
            <p local-class="item__description">{{t "onboarding.setup.complete_cases_description"}}</p>
          </div>
          <span class={{qa-cls "card--conversations"}} onClick={{action "showPopup" 6}}>
            {{#if hasTried3Conversations}}
              <span local-class="item__complete">{{t "onboarding.complete"}}</span>
            {{else}}
              {{#ko-button size="medium"}}
                {{t "onboarding.setup.complete_cases_button"}}
              {{/ko-button}}
            {{/if}}
          </span>
        </div>
      </div>
    </div>
  {{/if}}

  {{!----------------------------
  ------ Add email account ------
  ------------------------------}}
  {{#if (eq activePopup 1)}}
    {{#ko-modal
      modalStyle=(if (eq emailStep "connected") "width: 600px;height:468px" "width: 600px;height:404px")
      noHeaderContent=(if hideEmailSetupTitle true)
      noFooter=true
      showCloseButton=false
      enableEscClose=false
      on-close=(action "cancel") as |modal|}}
      {{#if modal.isHeader}}
        {{#unless hideEmailSetupTitle}}
          {{t "onboarding.setup.popup.emails.initial.title"}}
        {{/unless}}
      {{/if}}
      {{#if modal.isMain spaceBetween=true}}
        <section local-class="modal-section modal-section--spaced is-aligned {{if (eq emailStep 'initial') 'is-active'}}" class={{if (eq emailStep 'initial') (qa-cls "email-setup-prompt")}}>
          <h5 local-class="heading">{{t "onboarding.setup.popup.emails.initial.heading"}}</h5>
          {{#ko-button type="primary" size="medium" align="center" margin=true fixwidth=true onClick=(action "connectEmailInput") qaClass="action-connect-email"}}
            {{t "onboarding.setup.popup.emails.initial.primarybutton"}}
          {{/ko-button}}
          {{#ko-button size="medium" align="center" fixwidth=true onClick=(action "createEmailInput") qaClass="action-create-email"}}
            {{t "onboarding.setup.popup.emails.initial.secondarybutton"}}
          {{/ko-button}}
        </section>

        <section local-class="modal-section modal-section--spaced is-aligned {{if (eq emailStep 'connect') 'is-active'}}" class={{if (eq emailStep 'connect') (qa-cls "email-setup-connect")}}>
          <h5 local-class="label">{{t "onboarding.setup.popup.emails.connect.label"}}</h5>
          <form onsubmit={{action "connectEmail"}}>
            {{ko-input size="full" placeholder=(t "onboarding.setup.popup.emails.connect.inputplaceholder") value=(mut emailToBeConnected.address) qaClass="existing-email"}}
            <div local-class="paired-buttons">
              <div class="u-mright">
                {{#ko-button size="wide" onClick=(action "startEmail") qaClass="goto-email-prompt"}}
                  {{t "generic.back"}}
                {{/ko-button}}
              </div>
              {{#ko-button type="primary" size="wide" hasAnimation=true loading=emailToBeConnected.isSaving disabled=emailToBeConnected.isSaving onClick=(action "connectEmail") qaClass="server-connect-email"}}
                {{t "generic.next"}}
              {{/ko-button}}
            </div>
          </form>
        </section>

        <section local-class="modal-section modal-section--spaced is-aligned {{if (eq emailStep 'emailForwarding') 'is-active'}}" class={{if (eq emailStep 'emailForwarding') (qa-cls "email-setup-postconnect")}}>
          <h5 local-class="heading">{{t "onboarding.setup.popup.emails.emailForwarding.step1"}}</h5>
          <h5 local-class="heading">{{t "onboarding.setup.popup.emails.emailForwarding.step2" domain=fullDomain}}</h5>
          <a class="text--small text--center" href="https://support.kayako.com/article/1283-forwarding-emails-to-kayako-from-external-domains" target="_blank" rel="noopener noreferrer">
            {{t "onboarding.setup.popup.emails.emailForwarding.instructions"}}
          </a>
          {{#copy-button 
            local-class="copy-button" class="text--small" 
            clipboardText=(t "onboarding.setup.popup.emails.emailForwarding.instructionstext" domain=fullDomain) 
            success=(action "copiedToClipboard")}}
            {{t "onboarding.setup.popup.emails.emailForwarding.copyinstructions"}}
          {{/copy-button}}
          <div local-class="paired-buttons">
            {{#ko-button type="primary" size="medium" fixwidth=true onClick=(action "emailConnected") qaClass="email-connect-success"}}
              {{t "generic.next"}}
            {{/ko-button}}
          </div>
        </section>

        <section local-class="modal-section modal-section--allset transition-delay-2 {{if (eq emailStep 'connected') 'is-active'}}" class={{if (eq emailStep 'connected') (qa-cls "email-setup-connect-success")}}>
          <div local-class="modal-section__content" class="text--center">
            <img local-class="allset-tick" class="u-mbottom--mini" src="/images/welcome/tick-icon.svg" width="64" height="64">
            <h2 class="u-mbottom--tiny">{{t "onboarding.setup.popup.emails.connected.heading"}}</h2>
            <p local-class="light-text" class="u-mbottom">{{t "onboarding.setup.popup.emails.connected.subheading"}}</p>
          </div>
          <div local-class="gray-box">
            <h5 class="text--bold u-mbottom--tiny">{{t "onboarding.setup.popup.emails.connected.liveconversationstitle"}}</h5>
            <p local-class="gray-box__text" class="u-mbottom--mini">{{t "onboarding.setup.popup.emails.connected.liveconversationsdescription"}}</p>
            <div local-class="button-text">
              <div class="u-mright">
                {{#ko-button 
                  type="highlight" size="medium" 
                  href="https://support.kayako.com/article/1197-protecting-your-emails-from-spam-filters" 
                  target="_blank" rel="noopener noreferrer"}}
                  {{t "onboarding.setup.popup.emails.connected.button"}}
                {{/ko-button}}
              </div>
              {{#copy-button 
                local-class="copy-button" class="text--small" 
                clipboardText=(t "onboarding.setup.popup.emails.connected.instructionstext") 
                success=(action "copiedToClipboard")}}
                {{t "onboarding.setup.popup.emails.connected.copyinstructions"}}
              {{/copy-button}}
            </div>
          </div>
          <div local-class="next-step" onClick={{action "completeOnboarding"}}>
            <p>{{t "generic.done"}}</p>
          </div>
        </section>

        <section local-class="modal-section modal-section--spaced is-aligned {{if (eq emailStep 'create') 'is-active'}}" class={{if (eq emailStep 'create') (qa-cls "email-setup-create")}}>
          <h5 local-class="heading">{{t "onboarding.setup.popup.emails.create.label"}}</h5>
          <form onsubmit={{action "createEmail"}}>
            <div class="u-flex u-mbottom">
              {{ko-input addon=true size=false value=(mut createEmailName) qaClass="new-email"}}
              <span local-class="input-addon">{{fullDomain}}</span>
            </div>
            <div local-class="paired-buttons">
              <div class="u-mright">
                {{#ko-button size="wide" onClick=(action "startEmail") qaClass="goto-email-prompt"}}
                  {{t "generic.back"}}
                {{/ko-button}}
              </div>
              {{#ko-button 
                type="primary" size="wide" 
                hasAnimation=true 
                loading=emailToBeCreated.isSaving 
                disabled=emailToBeCreated.isSaving 
                onClick=(action "createEmail") 
                qaClass="create-new-email"}}
                {{t "onboarding.setup.popup.emails.create.primarybutton"}}
              {{/ko-button}}
            </div>
          </form>
        </section>

        <section local-class="modal-section modal-section--allset transition-delay-1 {{if (eq emailStep 'created') 'is-active'}}" class={{if (eq emailStep 'created') (qa-cls "email-setup-created-success")}}>
          <div local-class="modal-section__content">
            <div local-class="modal-section__wrapper" class="text--center">
              <img local-class="allset-tick" class="u-mbottom--mini" src="/images/welcome/tick-icon.svg" width="64" height="64">
              <h2 class="u-mbottom--tiny">{{t "onboarding.setup.popup.emails.created.heading"}}</h2>
              <p local-class="light-text" class="u-mbottom">
                {{#if emailPopupRevisited}}
                  {{t "onboarding.setup.popup.emails.created.subheadingdefault"}}
                {{else}}
                  {{t "onboarding.setup.popup.emails.created.subheading" address=emailToBeCreated.address}}
                {{/if}}
              </p>
            </div>
          </div>
          <div local-class="gray-box">
            <p local-class="gray-box__text" class="u-mbottom--tiny">{{format-html-message "onboarding.setup.popup.emails.created.tryout"}}</p>
          </div>
          <div local-class="next-step" onClick={{action "completeOnboarding"}}>
            <p>{{t "generic.done"}}</p>
          </div>
        </section>

      {{/if}}
    {{/ko-modal}}
  {{/if}}

  {{!----------------------------
  ----- Add social accounts -----
  ------------------------------}}
  {{#if (eq activePopup 2)}}
    {{#ko-modal
      modalStyle=socialModalDimensions
      noHeaderContent=(if (eq socialSetup "done") true)
      noFooter=(if hideSocialPopupFooter true)
      on-close=(action "cancel") as |modal|}}
      {{#if modal.isHeader}}
        {{#unless (eq socialSetup "done")}}
          {{#if isFacebookPagesPopup}}
            {{t "onboarding.setup.popup.social.connect.facebookpages"}}
          {{else}}
            {{t "onboarding.setup.popup.social.initial.title"}}
          {{/if}}
        {{/unless}}
      {{/if}}
      {{#if modal.isMain}}
        <section local-class="modal-section is-aligned {{if (eq socialSetup 'initial') 'is-active'}}" class={{if (eq socialSetup 'initial') (qa-cls "social-setup-prompt")}}>

          <div local-class="modal-section__content modal-section--spaced">
            <h5 local-class="heading">{{t "onboarding.setup.popup.social.initial.heading"}}</h5>
            {{#ko-button type="primary" size="medium" align="center" margin=true fixwidth=true onClick=(action "connectSocial") qaClass="select-social-connect"}}
              {{t "onboarding.setup.popup.social.initial.primarybutton"}}
            {{/ko-button}}
            {{#ko-button size="medium" align="center" fixwidth=true onClick=(action "skipSocialSetup") qaClass="skip-social-connect"}}
              {{t "onboarding.setup.popup.social.initial.secondarybutton"}}
            {{/ko-button}}
          </div>
          <p class="text--light text--center text--small">{{t "onboarding.setup.popup.social.initial.fact"}}</p>
        </section>

        <section local-class="modal-section modal-section--low-scale transition-delay-1 {{if (eq socialSetup 'connect') 'is-active'}}"  class="text--center {{if (eq socialSetup 'connect') (qa-cls "social-setup-connect")}}">
          <div local-class="modal-section__social">
            <img class="u-mbottom" src="/images/welcome/twitter.svg">
            <h5 class="text--bold">{{t "onboarding.setup.popup.social.connect.twitterheading"}}</h5>
            <p class="u-mbottom">{{t "onboarding.setup.popup.social.connect.twitterdescription"}}</p>
            {{#ko-button 
              type="primary" size="medium" align="center" 
              hasAnimation=true 
              loading=isTwitterloading 
              disabled=twitterButtonDisabled 
              onClick=(perform redirectToTwitterAuthenticationEndpoint)}}
              {{#if twitterConnected}}
                {{t "onboarding.setup.popup.social.connect.twitterconnected"}}
              {{else}}
                {{t "onboarding.setup.popup.social.connect.twitterbutton"}}
              {{/if}}
            {{/ko-button}}
          </div>
          <div local-class="modal-section__social">
            <img class="u-mbottom" src="/images/welcome/facebook.svg">
            <h5 class="text--bold">{{t "onboarding.setup.popup.social.connect.facebookheading"}}</h5>
            <p class="u-mbottom">{{t "onboarding.setup.popup.social.connect.facebookdescription"}}</p>
            {{#ko-button 
              type="primary" size="medium" align="center" 
              hasAnimation=true 
              loading=isFacebookConnecting 
              disabled=facebookButtonDisabled 
              onClick=(action "redirectToFacebookAuthenticationEndpoint")}}
              {{#if facebookPagesConnected}}
                {{t "onboarding.setup.popup.social.connect.facebookconnected"}}
              {{else}}
                {{t "onboarding.setup.popup.social.connect.facebookpages"}}
              {{/if}}
            {{/ko-button}}
          </div>
        </section>

        <section local-class="modal-section transition-delay-1 {{if (eq socialSetup 'connectpages') 'is-active'}}">
          {{#if fetchingPages}}
            <div local-class="facebook-pages-loader">
              {{ko-loader}}
            </div>
          {{else}}
            <ul local-class="facebook-pages">
              {{#each availablePages as |page|}}
                <li local-class="facebook-pages__item">
                  {{ko-checkbox label=page.title checked=page.import}}
                </li>
              {{else}}
                <div local-class="no-pages">{{t "admin.facebook.no_pages"}}</div>
              {{/each}}
            </ul>
          {{/if}}
        </section>

        <section local-class="modal-section modal-section--allset transition-delay-1 {{if (eq socialSetup 'done') 'is-active'}}">
          <div local-class="narrow-success-message modal-section__content" class="text--center">
            <img local-class="allset-tick" class="u-mbottom--mini" src="/images/welcome/tick-icon.svg" width="64" height="64">
            <h2 class="u-mbottom--tiny">{{t "onboarding.setup.popup.social.done.heading"}}</h2>
            <p local-class="light-text" class="u-mbottom">{{format-html-message "onboarding.setup.popup.social.done.subheading"}}</p>
          </div>
          <div local-class="next-step" onClick={{action "showPopup" 3}}>
            <p>{{t "onboarding.setup.popup.social.done.nextstep"}}</p>
          </div>
        </section>
      {{/if}}
      {{#if modal.isFooter}}

        {{#if isFacebookPagesPopup}}
          <div class="u-mright">
            {{#ko-button size="medium" onClick=(action "connectSocial")}}
              {{t "onboarding.setup.popup.social.connect.skipbutton"}}
            {{/ko-button}}
          </div>
          {{#ko-button 
            type="primary" size="wide"  
            hasAnimation=true 
            loading=importingPages 
            disabled=importPagesButtonDisabled 
            onClick=(action "importFacebookPages")
            qaClass="qa-admin-facebook-page__save"}}
            {{t "admin.facebook.save"}}
          {{/ko-button}}
        {{else}}
          {{#ko-button size="wide" onClick=(action "socialSetupDone")}}
            {{t "onboarding.setup.popup.social.connect.donebutton"}}
          {{/ko-button}}
        {{/if}}

      {{/if}}
    {{/ko-modal}}
  {{/if}}

  {{!-------------------------
  ---- Configure Messenger ---
  ---------------------------}}
  {{#if (eq activePopup 3)}}
    {{#ko-modal
      modalStyle=(if (eq messengerSetup "done") "width: 420px;height:450px" "width: 900px;height:700px")
      noHeaderContent=(if (eq messengerSetup "done") true)
      noFooter=true
      on-close=(action "cancel") as |modal|}}
      {{#if modal.isHeader}}
        {{#unless (eq messengerSetup "done")}}
          {{t "onboarding.setup.popup.messenger.initial.title"}}
        {{/unless}}
      {{/if}}
      {{#if modal.isMain}}
        <section local-class="modal-section modal-section--wide {{if (or (eq messengerSetup 'initial') (eq messengerSetup 'embedCode')) 'is-active'}}" class={{if (eq messengerSetup 'initial') (qa-cls "messenger-setup-intro")}}>
          <div local-class="messenger-preview" class="small">
            {{ko-admin/messenger/preview preview=preview isBackgroundAnimating=animateBackground.isRunning}}
          </div>
          {{#if (eq messengerSetup 'initial')}}
            <div local-class="messenger-right-text">
              {{ko-admin/messenger/customize
                title=title
                titleLocaleFields=titleLocaleFields
                welcomeMessage=welcomeMessage
                welcomeMessageLocaleFields=welcomeMessageLocaleFields
                primaryColor=primaryColor
                activeGradient=activeGradient
                activeSolidColor=activeSolidColor
                activePattern=activePattern
                backgroundMode=backgroundMode}}

              {{#ko-button 
                type="primary" 
                size="medium" full=true margin=true 
                hasAnimation=true loading=publishMessenger.isRunning 
                onClick=(perform publishMessenger) qaClass="messenger-next-button"}}
                {{t "onboarding.setup.popup.messenger.initial.button"}}
              {{/ko-button}}
            </div>
          {{else}}
            <div local-class="messenger-right-text messenger-text-transition">
              <h5 class="text--bold text--spaced u-mbottom--mini">{{t "onboarding.setup.popup.messenger.embedCode.heading"}}</h5>
              <h5 class="text--spaced u-mbottom">{{t "onboarding.setup.popup.messenger.embedCode.subheading"}}</h5>
              <div local-class="space-between">
                <span>{{t "onboarding.setup.popup.messenger.embedCode.embedcode"}}</span>
                {{#copy-button 
                  local-class="copy-button" 
                  class="text--bold" 
                  clipboardText=generatedCode 
                  success=(action "copiedToClipboard")}}
                  {{t 'generic.copy_to_clipboard'}}
                {{/copy-button}}
              </div>
              {{ko-input multiline=true size="full" lines="10" monospace=true value=generatedCode}}
              <p class="text--small text--light u-mbottom">{{t "onboarding.setup.popup.messenger.embedCode.helptext"}}</p>
              {{#ko-button 
                type="primary" 
                size="medium" full=true 
                onClick=(action "messengerSetupDone") 
                qaClass="messenger-done-button"}}
                {{t "onboarding.setup.popup.messenger.embedCode.done"}}
              {{/ko-button}}
            </div>
          {{/if}}
        </section>
        <section local-class="modal-section modal-section--allset transition-delay-1 {{if (eq messengerSetup 'done') 'is-active'}}">
          <div local-class="narrow-success-message modal-section__content" class="text--center">
            <img local-class="allset-tick" class="u-mbottom--mini" src="/images/welcome/tick-icon.svg" width="64" height="64">
            <h2 class="u-mbottom--tiny">{{t "onboarding.setup.popup.messenger.done.heading"}}</h2>
            <p local-class="light-text" class="u-mbottom">{{format-html-message "onboarding.setup.popup.messenger.done.subheading"}}</p>
          </div>
          <div local-class="next-step" onClick={{action "showPopup" 4}}>
            <p>{{t "onboarding.setup.popup.messenger.done.nextstep"}}</p>
          </div>
        </section>
      {{/if}}
    {{/ko-modal}}
  {{/if}}

  {{!---------------------
  ----- Create teams -----
  ----------------------}}
  {{#if (eq activePopup 4)}}
    {{#ko-modal
      modalStyle=teamModalDimensions
      noHeaderContent=(if (eq teamSetup "done") true)
      noFooter=(if (eq teamSetup "add") false true)
      on-close=(action "cancel") as |modal|}}
      {{#if modal.isHeader}}
        {{#unless (eq teamSetup "done")}}
          {{t "onboarding.setup.popup.team.title"}}
        {{/unless}}
      {{/if}}
      {{#if modal.isMain}}
        <section local-class="modal-section modal-section--spaced is-aligned {{if (eq teamSetup "initial") "is-active"}}" class={{if (eq teamSetup 'initial') (qa-cls "team-setup-prompt")}}>
          <h5 local-class="heading">{{t "onboarding.setup.popup.agents.initial.heading"}}</h5>

          <div class="u-mbottom--tiny">
            {{#ko-button type="primary" size="medium" align="center" fixwidth=true onClick=(action "addTeam") qaClass="goto-add-team"}}
              {{t "onboarding.setup.popup.team.initial.primarybutton"}}
            {{/ko-button}}
          </div>
          <div class="u-mbottom--tiny">
            {{#ko-button size="medium" align="center" fixwidth=true onClick=(action "showPopup" 5)}}
              {{t "onboarding.setup.popup.team.initial.secondarybutton"}}
            {{/ko-button}}
          </div>
          <div class="text--center">
            <span class="text--action text--small" onClick={{action "skipTeamSetup"}}>
              {{t "onboarding.setup.popup.team.initial.dontwant"}}
            </span>
          </div>
        </section>

        <section local-class="modal-section modal-section--wide modal-section--low-scale transition-delay-1 {{if (eq teamSetup "add") "is-active"}}" class={{if (eq teamSetup 'add') (qa-cls "add-team-section")}}>
          <div local-class="team-column">
            <label local-class="team__label">{{t "onboarding.setup.popup.team.add.team_name_label"}}</label>
            {{ko-input size="medium" value=defaultTeamTitle placeholder=(t "onboarding.setup.popup.team.add.team_name_hint")}}
            {{#each newTeams as |team index|}}
              <div local-class="team-field">
                {{ko-input size="medium" value=team.value}}
                <span local-class="remove-team" onclick={{action "removeTeam" team}}>
                  {{ko-icon name="minusCircle" color="#BEC4C7" size=16}}
                </span>
              </div>
            {{/each}}
            {{#if multipleTeamsAllowed}}
              <span local-class="add-more" onclick={{action "addMoreTeam"}}>{{ t "onboarding.setup.popup.team.add.add_more"}}</span>
            {{/if}}
          </div>
          <div local-class="team-column">
            {{format-html-message "onboarding.setup.popup.team.add.description"}}
          </div>
        </section>

        <section local-class="modal-section modal-section--allset transition-delay-1 {{if (eq teamSetup 'done') 'is-active'}}">
          <div local-class="narrow-success-message modal-section__content" class="text--center">
            <img local-class="allset-tick" class="u-mbottom--mini" src="/images/welcome/tick-icon.svg" width="64" height="64">
            <h2 class="u-mbottom--tiny">{{t "onboarding.setup.popup.team.done.heading"}}</h2>
            <p local-class="light-text" class="u-mbottom">{{format-html-message "onboarding.setup.popup.team.done.subheading"}}</p>
          </div>
          <div local-class="next-step" onClick={{action "showPopup" 5}}>
            <p>{{t "onboarding.setup.popup.team.done.nextstep"}}</p>
          </div>
        </section>
      {{/if}}
      {{#if modal.isFooter}}
        {{#ko-button type="naked" onClick=(action "cancel")}}
          {{t "generic.cancel"}}
        {{/ko-button}}
        {{#ko-button 
          type="primary" size="wide" 
          hasAnimation=true 
          loading=saveTeam.isRunning 
          disabled=saveTeam.isRunning 
          onClick=(perform saveTeam)}}
          {{t "generic.save"}}
        {{/ko-button}}
      {{/if}}
    {{/ko-modal}}
  {{/if}}

  {{!----------------------
  ----- Invite agents -----
  -----------------------}}
  {{#if (eq activePopup 5)}}
    {{#ko-modal
      modalStyle=agentModalDimensions
      noHeaderContent=(if hideAgentSetupTitle true)
      noFooter=(if (eq agentSetup "add") false true)
      on-close=(action "cancel") as |modal|}}
      {{#if modal.isHeader}}
        {{#unless hideAgentSetupTitle}}
          {{t "onboarding.setup.popup.agents.initial.title"}}
        {{/unless}}
      {{/if}}
      {{#if modal.isMain}}
        <section local-class="modal-section modal-section--spaced is-aligned {{if (eq agentSetup "initial") "is-active"}}" class={{if (eq agentSetup 'initial') (qa-cls "agent-setup-prompt")}}>
          <h5 local-class="heading">{{t "onboarding.setup.popup.agents.initial.heading"}}</h5>
          <div class="u-mbottom--tiny">
            {{#ko-button type="primary" size="medium" align="center" fixwidth=true onClick=(action "addAgents") qaClass="goto-add-agents"}}
              {{t "onboarding.setup.popup.agents.initial.primarybutton"}}
            {{/ko-button}}
          </div>
          <div class="u-mbottom--tiny">
            {{#ko-button size="medium" align="center" fixwidth=true onClick=(action "cancel")}}
              {{t "onboarding.setup.popup.agents.initial.secondarybutton"}}
            {{/ko-button}}
          </div>
          <div class="text--center">
            <span class="text--action text--small " onClick={{action "skipAgents"}}>
              {{t "onboarding.setup.popup.agents.initial.dontwant"}}
            </span>
          </div>
        </section>

        <section local-class="modal-section modal-section--wide modal-section--low-scale transition-delay-1 {{if (eq agentSetup "add") "is-active"}}" class={{if (eq agentSetup 'add') (qa-cls "add-agents-section")}}>
          <div local-class="add-agents-fields">
            {{ko-bulk-invitation
              onBoarding=true
              invitation=invitation
              referenceData=referenceData
              onRowsChanged=(action "rowsChanged")
            }}
          </div>
        </section>

        <section local-class="modal-section modal-section--allset transition-delay-1 {{if (eq agentSetup 'done') 'is-active'}}">
          <div local-class="narrow-success-message modal-section__content" class="text--center">
            <img local-class="allset-tick" class="u-mbottom--mini" src="/images/welcome/tick-icon.svg" width="64" height="64">
            <h2 class="u-mbottom--tiny">{{t "onboarding.setup.popup.agents.done.heading"}}</h2>
            <p local-class="light-text" class="u-mbottom">{{format-html-message "onboarding.setup.popup.agents.done.subheading"}}</p>
          </div>
          <div local-class="next-step" onClick={{action "showPopup" 6}}>
            <p>{{t "onboarding.setup.popup.agents.done.nextstep"}}</p>
          </div>
        </section>
      {{/if}}
      {{#if modal.isFooter}}
        {{#ko-button type="naked" onClick=(action "skipAgents")}}
          {{t "generic.cancel"}}
        {{/ko-button}}
        {{#ko-button 
          type="primary" size="medium" 
          hasAnimation=true 
          loading=saveAgents.isRunning 
          disabled=saveAgents.isRunning 
          onClick=(perform saveAgents invitation)}}
          {{t "onboarding.setup.popup.agents.add.invite"}}
        {{/ko-button}}
      {{/if}}
    {{/ko-modal}}
  {{/if}}

  {{!----------------------
  --- Test conversations --
  -----------------------}}
  {{#if (eq activePopup 6)}}
    {{#ko-modal
      modalStyle="width: 600px;height:400px"
      noFooter=true
      on-close=(action "cancel") as |modal|}}
      {{#if modal.isHeader}}
        {{t "onboarding.setup.popup.conversations.title"}}
      {{/if}}
      {{#if modal.isMain}}
        <section local-class="modal-section modal-section--spaced is-aligned is-active" class={{qa-cls "conversations-prompt"}}>
          <h5 local-class="heading">{{format-html-message "onboarding.setup.popup.conversations.heading"}}</h5>
          {{#link-to "session.agent.cases.index"}}
            {{#ko-button type="primary" size="medium" align="center" fixwidth=true margin=true}}
              {{t "onboarding.setup.popup.conversations.primary_button"}}
            {{/ko-button}}
          {{/link-to}}
          {{#ko-button size="medium" align="center" fixwidth=true onClick=(action "cancel")}}
            {{t "onboarding.setup.popup.conversations.secondary_button"}}
          {{/ko-button}}
        </section>
      {{/if}}
    {{/ko-modal}}
  {{/if}}
{{/if}}