<a local-class="mention-anchor" class={{qa-cls "qa-mention-anchor"}} onclick={{action "openMention"}}>
  <span local-class="mention {{if isCurrentUser "mention-me"}}" class={{qa-cls "qa-mention" (if isCurrentUser "qa-mention-me")}}>
    {{text}}
  </span>
</a>
