<div local-class="container">
  {{#ko-universal-search/title}}{{t "search.help.narrow_your_search"}}{{/ko-universal-search/title}}

  <ul local-class="modifiers">
    <li local-class="modifier">
      <span local-class="emphasis">{{t "search.help.in"}}</span> {{t "search.help.cases_users_orgs_articles"}}
    </li>
    <li local-class="modifier">
      <span local-class="emphasis">{{t "search.help.created"}}</span> {{t "search.help.created_date"}}
    </li>
    <li local-class="modifier">
      <span local-class="emphasis">{{t "search.help.updated"}}</span> {{t "search.help.updated_date"}}
    </li>
    <li local-class="modifier">
      <span local-class="emphasis">{{t "search.help.completed"}}</span> {{t "search.help.completed_date"}}
    </li>
    <li local-class="modifier">
      <span local-class="emphasis">{{t "search.help.tag"}}</span> {{t "search.help.tag_value"}}
    </li>
  </ul>

  <div local-class="separator"></div>

  <ul local-class="modifiers">
    <li local-class="modifier">
      <span local-class="emphasis">{{t "search.help.team"}}</span> {{t "search.help.team_value"}}
    </li>
    <li local-class="modifier">
      <span local-class="emphasis">{{t "search.help.assignee"}}</span> {{t "search.help.assignee_value"}}
    </li>
    <li local-class="modifier">
      <span local-class="emphasis">{{t "search.help.subject"}}</span> {{t "search.help.subject_value"}}
    </li>
    <li local-class="modifier">
      <span local-class="emphasis">{{t "search.help.status"}}</span> {{t "search.help.status_value"}}
    </li>
    <li local-class="modifier">
      <span local-class="emphasis">{{t "search.help.channel"}}</span> {{t "search.help.channel_value"}}
    </li>
  </ul>

  <div local-class="separator"></div>

  <ul local-class="modifiers">
    <li local-class="modifier">
      <a href="https://support.kayako.com/article/1164-getting-more-out-of-the-kayako-search-bar?utm_source=app&amp;utm_campaign=in-product-help&amp;utm_medium=agentarea&amp;utm_content=search1" target="_blank" rel="noopener noreferrer" local-class="help">
        {{t "search.help.more_help"}}
        <span local-class="help__arrow">{{ko-icon name="arrow" color="#A1AAAF"}}</span>
      </a>
    </li>
  </ul>
</div>
